.embed-container-dingtalk {
    position: relative;
    width: 100%;         /* Đảm bảo chiều rộng 100% */
    padding-bottom: 56.25%; /* Tỷ lệ khung hình 16:9 (56.25% = 9/16) */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;     /* Căn giữa phần tử */
}

.embed-container-dingtalk iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.embed-container-ticked iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}