.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

// .app-container{
//     .space{
//         padding: 4px 0 4px 0;
//     }

//     .app.container{
//         .embed-container{
//             position: relative;
//             padding-bottom: 56.25%;
//             height: 0;
//             overflow: hidden;
//             max-width: 100%;
//         }
//         .embed-container iframe,
//         .embed-container object,
//         .embed-container embed{
//             position: relative;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//         }
//     }
    
// }


