
.app-container {

    .space {
        padding: 4px 0;
    }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 ratio */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        margin: 0 auto; /* Căn giữa khung hình */
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute; /* Thay đổi từ `relative` sang `absolute` */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}